div{
    padding: 100px;
    margin: 10px;
    width: 500px;
    height:1500px;
}
.sen {
    background-color: blueviolet;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.next{
color:azure;
background-color: cornflowerblue;
font-family: 'Times New Roman', Times, serif;
font-size: larger;
}